# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Create a Jupyter Notebook
* Create markdown cell with title of the notebook
* Create a single column table in this cell with the first row containing the header Data Science Tools
*  Create a code cell to multiply and add numbers
* Create a code cell to convert minutes to hours

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++

##### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. Tensorflow

##### Open Source Tools for development Environment:

|Data Science Tools|
|------------------|
|Jupyter (Notebook ou Lab)|
|Apache Zeppelin-
|Rstudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
A = 200
B = 60
C = A/B
print(C)

3.3333333333333335

## Authors
Val√©rie